.gallery_main {
    margin: 10px auto;
}

.gallery_main .box {
    overflow: hidden;
    margin: 20px 5px;
    backdrop-filter: blur(4px);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 32px;
    box-shadow: 35px 35px 68px 0px rgba(0, 92, 83, 0.5), inset -0px -0px 16px 0px rgba(0, 92, 83, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
}

.gallery_main img {
    height: 550px;
    width: 100%;
    object-fit: cover;
    padding: 10px;
    border-radius: 32px;
}

.gallery_main .box:hover img {
    -o-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;

}