.navbar {
    padding: 30px;
    display: flex;
    justify-content: space-between;

}

.navbar-brand {
    font-size: 2em;
    color: var(--second) !important;
    padding: 0px 15px;
}

.navbar-brand img {
    padding-left: 10px;
    height: 30%;
}

.navbar-brand span {
    color: var(--main) !important;
    font-weight: 900;
    font-size: 1.3em;
}

.navbar-nav {
    padding: 0px 30px;
    margin-top: 5px;
}

.nav-link {
    color: var(--main) !important;
    margin-left: 5px;

}

.nav-link:hover {
    color: var(--second) !important;
}